@use '../mixins' as *;

.main-header {
  .conference-sec {
    .conference-date-address {
      margin-bottom: 20px;
    }

    .conference-info {
      p {
        font-size: 16px;
      }

      h1 {
        font-size: 60px;
      }
    }

    .conference-time-left {
      .boxes {
        width: 75%;
        .box {

          span,
          p {
            font-size: 22px;
          }
        }
      }
    }

    .button {
      a {
        font-size: 14px;
        padding: 13px 40px;
      }
    }
  }

  .navbar {
    .container {
      max-width: 75% !important;
      ;
    }

    .nav-list {
      width: 65%;

      .nav-item {
        padding: 0;
        flex: 1;

        a {
          text-align: center;
          padding: 0;
        }
      }
    }

    .btn {
      padding: 0;

      a {
        padding: 10px 35px !important;
      }
    }
  }

}

.conference-schedule {
  .conferences {
    .conference {
      .content {

        h1,
        span,
        p {
          text-align: left;
        }
      }
    }

    .line {
      right: auto;
      left: 84px;
    }
  }
}

.contact-us {
  .content {

    h1,
    h3 {
      text-align: left  !important;
    }

    margin-left: 22%;

    ul {
      li {

        p,
        a {
          font-size: 14px !important;
        }
      }
    }
  }
}

footer {
  p {
    font-size: 15px !important;
  }
}

.tools {
  #options-list {
    li:nth-child(1) {
      h1 {
        text-align: left !important;
        margin-bottom: 5px;
      }
    }

    li:nth-child(2) {
      a {
        &:nth-child(1) {
          border-radius: 0;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }

        &:nth-child(2) {
          border-radius: 0;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }
    }
  }
}

// responsive settings 
@include breakPoints (mobile) {
  .main-header .conference-sec .container .conference-date-address {
    gap: 20px;
  }

  .main-header {
    padding: 0;

    .overlay {
      padding: 40px 0px;
    }
  }

  .main-header .conference-sec .container {
    top: 45px;
  }

  .main-header .conference-sec .conference-time-left .boxes {
    width: 100% !important;
  }

  .main-header .conference-sec .conference-time-left .boxes .box p {
    font-size: 11px !important;
  }

  .main-header .button a {
    padding: 10px 30px;
    font-size: 11px;
  }
  
}
@media (max-width: 1199px){
  .navbar{
    nav{
      flex-direction: row !important;
    }
  }
  .contact-us{
   .content {
      h1,h3{
        text-align: center  !important;
      }
    }
  }
}